<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>windows Popup Demo</title>
</head>
<body id="app" ng-app="app">
   
    <div class="container" ng-controller="parentController" ng-style="{'background-color': bgrColor}">
        <div class="header">

           

            <wnp-version></wnp-version>

        </div>

        <!--<wnp-pop url="views/contextMenuOne.html" wnp-pop-name="small">

            <h4> Some sample links to open popup windows by left-clicking:</h4>
            <h5> (If you want to open the windows from a Modal context menu then <span style="color: red"> right click below </span>) </h5>
            <p>
                Click the following link to open the popup. Click again to close :
                <wnp-popup url="views/popupWindow.html#/sampleOne"
                           width="450"
                           height="500"
                           left="0"
                           wnp-name="popupWindow"
                           wnp-title="This title is specified in the Parent Window."
                           wnp-toggle-open-close="true">Win 1, using windowsPopup module</wnp-popup>
                . <br />
                The following link opens a window, but needs to be closed by the Child :
                <wnp-popup url="views/popupWindow.html#/sampleOne"
                           width="300"
                           height="300"
                           wnp-name="popupWindow_2"
                           wnp-toggle-open-close="false">Win 2, using windowsPopup module</wnp-popup>
                . <br />
                The following link opens a window, but you need to press 'Apply Change' to update :
                <wnp-popup url="views/popupWindow.html#/sampleTwo"
                           width="400"
                           height="500"
                           wnp-name="popupWindow_3"
                           wnp-auto-update="false"
                           wnp-toggle-open-close="false">Win 3, No auto update</wnp-popup>
                . <br />
                The link opens a window; there is 'Apply Change' button for each field :
                <wnp-popup url="views/popupWindow.html#/sampleThree"
                           width="400"
                           height="500"
                           wnp-name="popupWindow_4"
                           wnp-auto-update="false"
                           wnp-toggle-open-close="false">Win 4, Apply button for each value</wnp-popup>
                . <br />
                The link opens a window; there is 'Apply Change' for a group of fields :
                <wnp-popup url="views/popupWindow.html#/sampleFour"
                           width="400"
                           height="500"
                           wnp-name="popupWindow_5"
                           wnp-auto-update="false"
                           wnp-toggle-open-close="false">Win 5, Apply for a group of values.</wnp-popup>
                . <br />
                The link opens a window; that window can open an other one ... :
                <wnp-popup url="views/popupWindow.html#/sampleFive"
                           width="400"
                           height="500"
                           wnp-name="popupWindow_6"
                           wnp-auto-update="true"
                           wnp-toggle-open-close="false">Win 6, the Child will be parent.</wnp-popup>

            </p>
        </wnp-pop>-->

        <wnp-pop url="views/sampleOne.html" wnp-pop-name="small">
            


            <div>
                <input type="text" wnp-model="item_one" ng-model="rnParentData.dat" />
                This is interpolated " {{ rnParentData.dat }} " data.
            </div>
            <div>
                <input type="text" wnp-model="item_two" ng-model="rnParentData_2" />
                This is interpolated " {{ rnParentData_2 }} " data.
            </div>

            Use wnp-popup as an attribute of a button :
            <button type="button" wnp-popup=""
                    url="views/popupWindow.html#/sampleOne"
                    width="300"
                    height="300"
                    wnp-name="popupWindow_2"
                    wnp-toggle-open-close="true">
                Win 1, as a button
            </button>
            <br />

        </wnp-pop>

       
    </div>


   
    <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->

    <script src="Scripts/jquery-3.1.0.js"></script>
    <script src="Scripts/angular.js"></script>
    <!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
    <!--<script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
    
    <script src="Scripts/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <script src="JS/app.js"></script>
    <script src="Components/windowsPopup.js"></script>
    <script src="Components/windowsPopupConfig.js"></script>
    <!-- endbuild -->
</body>
</html>